.DS_Store
/logs
resources/conf/IS
resources/ver24.5.0.36037/logs
resources/ver24.5.0.36037/conf/DEV
resources/ver24.5.0.36037/conf/DEV/bcirules.xml
resources/ver24.5.0.36037/external-services
resources/ver24.5.0.36037/conf/controller-info.xml.bak
*.bak
*.*.bak
*.*.*.txt
