
grant codeBase "file:${application_home}/-" {
         permission java.security.AllPermission;
};
grant codeBase "file:${mtagent_home}/-" {
         permission "java.security.SecurityPermission" "*";
         permission "java.lang.RuntimePermission" "*";
         permission java.io.FilePermission "<<ALL FILES>>","read,write,delete";
         permission java.net.SocketPermission "*","accept,connect,resolve,listen";
         permission java.util.PropertyPermission "*", "read,write";
         permission "java.lang.management.ManagementPermission" "monitor";
         permission "java.lang.reflect.ReflectPermission" "*";
         permission "javax.management.MBeanServerPermission" "*";
         permission "javax.management.MBeanPermission" "*","*";
         permission "javax.management.MBeanTrustPermission" "*";
         permission java.net.NetPermission "*";
};
grant codeBase "file:${mtagent_tenants_home}/-" {
         permission "java.security.SecurityPermission" "*";
         permission "java.lang.RuntimePermission" "*";
         permission java.io.FilePermission "<<ALL FILES>>","read,write,delete";
         permission java.net.SocketPermission "*","accept,connect,resolve,listen";
         permission java.util.PropertyPermission "*", "read,write";
         permission "java.lang.management.ManagementPermission" "monitor";
         permission "java.lang.reflect.ReflectPermission" "*";
         permission "javax.management.MBeanServerPermission" "*";
         permission "javax.management.MBeanPermission" "*","*";
         permission "javax.management.MBeanTrustPermission" "*";
         permission java.net.NetPermission "*";
};
grant codeBase "file:${appdynamics_home}/-" {
         permission "java.security.SecurityPermission" "*";
         permission "java.lang.RuntimePermission" "*";
         permission java.io.FilePermission "<<ALL FILES>>","read,write,delete";
         permission java.net.SocketPermission "*","accept,connect,resolve,listen";
         permission java.util.PropertyPermission "*", "read,write";
         permission "java.lang.management.ManagementPermission" "monitor";
         permission "java.lang.reflect.ReflectPermission" "*";
         permission "javax.management.MBeanServerPermission" "*";
         permission "javax.management.MBeanPermission" "*","*";
         permission "javax.management.MBeanTrustPermission" "*";
         permission java.net.NetPermission "*";
};